@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200;400&family=Roboto:wght@100;400&display=swap');

/* html {
  scroll-behavior: smooth;
} */

.header {
  height: 45px;
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-container {
  border: 1px #ff0000 solid;
  width: 900px;
  height: 15rem;
  background-color: #ffffff;
}

.main-container-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #000000;
  font-family: "Raleway", sans-serif;
}

.airplane {
  background-color: #d41919;
}

.airplane:hover{
  cursor: pointer;
  transition: ease-in-out .3s;
  background-color: #e04747;
}

.texts {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px #27262e solid; */
}

.icons {
  width: 20px;
  height: 20px;
}

.p-texts {
  font-size: 15px;
  color: #ffffff;
  width: 55px;
  height: 30px;
  /* border: 1px solid rgb(97, 94, 94); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.travels,
.travels h1 {
  margin: 13px 0 0 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

#h1 {
  font-size: 1.5rem;
}

.input-text {
  width: 420px;
  height: 40px;
  border: 0.5px solid #c5c5c5;
    font-family: "Raleway", sans-serif;

}

.input-text::placeholder {
  font-family: "Raleway", sans-serif;
  padding: 5px;
}

/* from / departing from ------ to / arriving at */
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  gap: 15px;
}

.search-button {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-btn {
  color: #ffffff;
  background-color: #5a5959;
  width: 180px;
  height: 40px;
  padding: 5px;
  font-family: "Raleway", sans-serif;
  border: none;
}


